@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(230, 223, 223);
}

canvas{
    border: 1px solid black;
    grid-row: 2/3;
    grid-column: 2/3;
    background-color: white;
}

i{
    font-size: 20px;
    margin: 0px 5px 0px 5px
}

#logo{
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Monoton", serif;
    font-size: 40px;
}


#logoImg{
    height: 50px;
    margin: 2px;
}

.tegnebrett{
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px auto 100px;
}

.tools{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

#width, #height{
    width: 60px;
    height: 40px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid black;
}
.farger{
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.fargeboks, button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 20px;
    cursor: pointer;
}

.fargeboks{ 
    z-index: 9;
    
}

.clr-field input{
    border-radius: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.clr-field button{
    width: 100% !important; 
}



.pensel{
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rgbBoks{
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.pixel{
    border-radius: 0;
    background-color: black;
}
#rød{
    background-color:red;
}

#blå{
    background-color: blue;
}

#svarte{
    background-color: black;
}

.fa-eye-dropper{
    position: absolute;
    z-index: 10;
    margin: 0px;
    pointer-events: none;
}