*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    overflow: hidden;
}

canvas{
    border: 1px solid black;
    grid-row: 2/3;
    grid-column: 2/3;
}

.tegnebrett{
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px auto 100px;
    width: 80%;
    height: 100%;
}

.knapper{
    margin: 10px;
}

i{
    font-size: 20px;
    margin: 0px 5px 0px 5px
}

button{
    height: 40px;
}